{% extends 'bank/base.html' %}

{% block content %}
    <a href="{% url 'login_page' %}" class="btn btn-primary" style="float:right">Logout</a>
    <br><br>
    <a href="add_ph/" class="btn btn-primary" style="float:right">Addphno</a>
    <h2>Welcome {{acct.customer.fname}} {{acct.customer.lname}}</h2>
    <h2>Balance is : {{acct.balance}}</h2>
    <h2>Transfer Money</h2>
    <form method="POST" class="post-form" autocomplete="off">{% csrf_token %}
        {{ transForm.as_p }}    <!--render form as paragrah. Will wrap the form in <p> tags-->
        <button type="submit" class="btn btn-default">Transfer</button>
    </form>
    {% for msg in messages %}
        <p style="color: red;">{{msg}}</p>
    {% endfor %}
    <br>
    <a href = "statement/" class="btn btn-primary">View Account Statement</a>
    <br><br><br><br>
{% endblock %}